* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}

body {
  line-height: 1.6;
  color: #dad8d8;
  background-color: #f5f5f5;
  padding: 20px;
}

.menusuperior{
  text-align: center;
  background-color: #303030;
  color: white;
  padding: 60px 20px;
}

.menusuperior h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.dados {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  color: black;
  padding: 40px 20px;
  text-align: center;
}

.dado h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.sobre {
  color: #444;
 
  background-color: white;
  padding: 50px 20px;
}
#sobtexto{
  top: 50%;
  left: 50px;
}

.imagem{
  width: 350px;

  position: relative;
  left: 75%;
  
  



}

.contato {
  
  background-color: #303030;
  padding: 40px 20px;
}

.contato h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color:  #C07212;

  color: rgb(214, 214, 214);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
