*{
    font-family: inter;
    margin: 0%;
}


#menusuperior{
    background-color: #303030;
    color: #FFFFFF;

    width: 1,440px;
    height: 300px;
    padding: 0px;

    
}

#titulo_supeior{

width: 1024;
height: 72;
top: 206px;
left: 62px;



   
   
   
   
}